<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="hero">

      </div>
    </div>
  </div>
</div>

<section class="index-header">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Explore All Alaksa Offers</h1>
        <h5>Everything You Need In One Place</h5>
        <p>This app is as big as the Last Frontier you will be able to find everyting you need to find when it comes to planning your Alaska trip. For most people Alaska is a once in a lifetime trip, for others it's a summer job when breaking from school, and for certian people Alaska just grabs you and never lets you go. When using this site you can find everything you need to know about Alaska. You can find out about the different regions, different towns and citys, you can learn about the history, weather, culture, and area. You can find places to camp, stay, or even long term rentals. You can find things to do, as well as job listings by people in those areas.</p>
      </div>
      <div class="col-md-5">
        <img src="img/index_header_img.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="regions">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">ALASKA REGIONS</h1>
      </div>
      <div class="col-md-4 regions__alaskaInterior">
        <div class="row">
          <div class="col-sm-12">
            <h3>Alaska Interior</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img src="img/juneau.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="img/ketchikan.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
